/*******************/
/* buttons styling */
/*******************/

.btn {
  width: 70px;
}

#buttonContainer {
  padding: 5px 0px 5px 0px;
}

#buttonContainer p {
  margin:15px 6px 0px 6px;
}

#similarityAll {
  background: #dbdb8d; 
}

#similarityEarlier {
  background: #9edae5;
} 

#similarityLater {
  background: #ff9896;
}

/***********/
/* helpers */
/***********/

.center {
  width:100%;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

#prefaceInfo {
  padding: 0% 15% 0% 15%;
}

/********/
/* plot */
/********/

svg circle {
  stroke-width: 2px;
  fill: transparent;
  cursor: pointer;
}

svg circle:active {
  stroke: #45D3C7;
}

.axis path {
  display: none;
}

.axis line {
  shape-rendering: crispEdges;
  stroke: #000;
}
