#scrollable-dropdown-menu .tt-menu {
  max-height: 150px;
  overflow-y: auto;
  width: 700px;
} 

.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 18px;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 8px 12px;
    width: 675px;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

/* styles from SO thread number 20198247 */
.tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
    width: 422px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
    padding: 3px 20px;
    font-size: 18px;
    line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
    color: #fff;
    background-color: #0097cf;

}

.tt-suggestion p {
    margin: 0;
}

#scrollable-dropdown-menu {
  width: 700px;
  margin: 0 auto;
}

#typeaheadContainer {
  padding: 20px 0px 20px 0px;
}
